.model-item-menu {
    height: calc(100vh - 279px);
    overflow-y: scroll;
}

.model-item-menu.closed {
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.model-item-menu .ant-menu-title-content {
    width: 100%;
}
