{{ resource_name }} := {{ resource_type_name }}{
	ResourceName: "{{ resource_name }}",
	ToBeTraced: {{ to_be_traced }},

	{% for attribute in attributes %}
	{{ attribute.name }}: {{ attribute.value }},
	{% endfor %}
}
resources = append(resources, &{{ resource_name }})
