type {{ template_name }} struct {
	UsageName string
	HasTriggered bool

	{% for param in params %}
	{{ param.name }} *{{ param.type }}
	{% endfor %}
}

func (t *{{ template_name }}) Execute() {
	if {{ condition }} {
		{{ body }}

		t.HasTriggered = true
		return
	}

	t.HasTriggered = false
}

func (t *{{ template_name }}) MarshalJSON() ([]byte, error) {
	return json.Marshal(map[string]interface{}{
		"usage_name":    t.UsageName,
		"has_triggered": t.HasTriggered,
		"usage_type":	 "RULE",
	})
}
