{{ usage_name }} := {{ template_name }}{
	UsageName: "{{usage_name}}",

	{% for arg in args %}
	{{ arg.relevant_resource_name }}: &{{ arg.resource_name }},
	{% endfor %}
}
usagesList := append(usagesList, &{{ usage_name }})